<div class="Main clearfix">
<div class="dialog-content">

<div id="dialog-header">
<h3 class="dialog-title">以下の内容で投稿しますか？</h3>
</div>

<div id="dialog-form" class="clearfix">
<%= form_with(model: @tweet, url: tweets_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  
  <div class="dialog-input">
  <%= form.text_area :content, class: 'dialog-text', readonly: 'true' %>
  </div>
  
  <%= form.submit "投稿する", class: "btn commit-btn" %>
<% end %>

<%= form_with(model: @tweet, url: new_tweet_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "もどる", name: 'back', class: "btn back-btn" %>
<% end %>
</div>

</div>
</div>
