<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Phase2app</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <header class="header">
        <div class="top-logo">
          <p><%= link_to "HOME", '/', class: "top-title" %></p>
        </div>
        <div class="top-items">
          <ul>
            <li><%= link_to "つぶやき一覧", tweets_path, class: "top-item" %></li>
            <li><%= link_to "新規投稿",  new_tweet_path, class: "top-item" %></li>
          </ul>
        </div>
      </header>
      
      <%= yield %>
      
      <footer class="footer">
        <div class="footer-content">
          <p>Dive into Code test application</p>
        </div>
      </footer>
      <div id="page-top-btn" class="page-top-btn">
        <p><a class="move-page-top" id="move-page-top">▲</a></p>
      </div>
    </div>
  </body>
</html>
